*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  .container{
    margin: 0 auto;
    width: 1200px;
  }
  .header-container{
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 50%;
    
    transform: translate(-50%,-50%);
    
  }
  .header-container-inner{
    width: 50%;
    
  }
  html{
    font-family: 'Rubik', sans-serif; ;
    color: #444;
  }
  nav{
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    /* background-color:green; */
  }
  header{
    
    height: 100vh;
    position: relative;
    background:url(hero.jpg) no-repeat center/cover;
    /* background-size: cover; */
    
  }
  h1{
    font-size: 52px;
    margin-bottom: 32px;
    line-height: 1.05;
  }
  p{
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 48px;
  }
  .btn:link,.btn:visited{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    background-color: #e67e22;
    color: #fff;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 9px;
  }
  h2{
    font-size: 42px;
    margin-bottom: 48px;
  }
  section{
    padding: 96px 0;
    /* margin: 0 auto; */
    background-color: #f7f7f7;
  }